<div class="col-md-12">
    <h1>JIRA Simple</h1>
    <hr>
    <div ng-show="errors[0]" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="bg-danger" style="padding: 10px; border-radius: 5px; border: 1px solid #FAA;">
            <h4>Error messages:</h4>
            <ul>
                <li ng-repeat="error in errors">{{error}}</li>
            </ul>
        </div>
    </div>
    <div ng-show="filters[0]" class="col-md-5">
        <select class="form-control" data-ng-model="filter" data-ng-options="filter.name for filter in filters"></select>
        <table class="table">
            <tbody>
                <tr ng-repeat="i in issues" ng-click="selectIssue(i)" ng-class="(issues[$index]['key'] == issue.key) ? 'bg-primary' : '' ">
                    <td>{{i.fields.summary}}</td>
                    <td>{{i.fields.status.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="issue" class="col-md-7" style="border: 1px solid #AAA;border-radius: 4px;overflow-x:auto;">
        <div class="col-md-12">
            <h3>{{issue.fields.summary}}</h3>
            {{issue.key}} |
            {{issue.fields.issuetype.name}} |
            {{issue.fields.status.name}} 
            <span ng-repeat="version in issue.fields.fixVersions">| {{version.name}} </span>
            <hr>
            <div class="pull-left">
                <form class="form-inline" role="form">
                    <button type="button" ng-click="completeIssue()" class="btn btn-primary" ng-show="display([1,3])">Complete</button>
                    <button type="button" ng-click="fixIssue()" class="btn btn-primary" ng-show="display([1,3])">Fix</button>
                    <button type="button" ng-click="reopenIssue()" class="btn btn-primary" ng-show="display([10003,5])">Reopen</button>
                </form>
            </div>
            <div class="pull-right">
                <form class="form-inline" role="form">
                    <button type="button" ng-click="startTime()" ng-hide="started"class="btn btn-success">Start</button>
                    <button type="button" ng-click="endTime()" ng-show="started" class="btn btn-danger">End</button>
                    <button type="submit" ng-click="addTime()" class="btn btn-primary">Add</button>
                    <input type="text" ng-model="loggedHours" placeholder="Hours" class="form-control" style="width: 70px"/>
                </form>
            </div>
            <div style="clear:both;">&nbsp;</div>
            <span ng-bind-html="issue.fields.description">&nbsp;</span>
            <hr>
        </div>
    </div>
</div>
